.front_page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.front_page__cards {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.animatestart {
  position: relative;
  left: -100vw;
}

.triggered {
  transform: translateX(100vw);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  transition-timing-function: ease-out;
}
