/* media queries */
/* mobile first small*/
/* main page content container */

.front_page {
  /* background: red; */
}
.front_page__cards {
  /* the wrapper for all the cards */
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.card_wrapper {
  /* wrapper for each card */
  /* border: 3px solid black; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center;
 
  margin-bottom: 4rem; */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .front_page {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
  }

  .front_page__cards {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card_wrapper {
    /* background: greenyellow; */
    width: 100vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-start; */
    border: 1px solid;
    margin-bottom: 4rem;
  }
  /*  */
  .animatestart {
    position: relative;
    left: -100vw;
  }

  .triggered {
    transform: translateX(100vw);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-timing-function: ease-out;
  }
}
