.venue {
  display: flex;
}
.venue_text {
  background: rgb(186, 179, 223);
  width: 30%;
}
.venue_name {
  background: rgb(180, 172, 252);
}

.venue_events {
  background: rgb(197, 236, 197);
  width: 30%;
}

.venue_images {
  width: 30%;
  background: rgb(236, 247, 138);
}
