.event_card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 1rem;
  margin-bottom: 4rem;
}

.event_card__text_top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(54, 54, 54, 0.5);
  min-height: 220px;
  z-index: 5;
}

.event_card__text_top h2 {
  color: rgb(248, 248, 248);
  font-weight: 900;
  margin: 1rem;
  text-shadow: 1px 1px 4px #000;
}

.event_card__text_middle {
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 6;
}

.event_card__text_middle h4 {
  color: rgb(248, 248, 248);
  font-weight: 900;
  margin: 1rem;
  text-shadow: 1px 1px 4px #000;
}

.event_card__text_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 7;
  /* max-height: 400px; */
}

.event_card__text_bottom p {
  color: rgb(248, 248, 248);
  font-weight: 600;
  margin: 1rem;
  text-shadow: 1px 1px 3px #000;
}
